# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.CSharp_053505_Gerashchenko_Lab10.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\37544\Desktop\Work\053505\second_course\CSharp\CSharp_053505_Gerashchenko_Lab10\.idea\.idea.CSharp_053505_Gerashchenko_Lab10\.idea/dataSources/
/dataSources.local.xml
