# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CSharp_053505_Gerashchenko_Lab6.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\37544\Desktop\Work\053505\second_course\CSharp\CSharp_053505_Gerashchenko_Lab6\.idea\.idea.CSharp_053505_Gerashchenko_Lab6\.idea/dataSources/
/dataSources.local.xml
